.popup__input {
  margin-bottom: 30px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 1.21;
  font-weight: normal;
  font-style: normal;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-top: none;
  border-right: none;
  border-left: none;
}

.popup__input:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .popup__input:last-child {
    margin-bottom: 45px;
  }
}
