* {
  border: 1px solid #000;
}

.page {
  min-width: 320px;
  background: #e5e5e5;
  padding: 45px 200px 60px;
  box-sizing: border-box;
  font-family: 'Inter',  'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-shadow: 0 0 0 10000px #2a2c2f;
}

@media screen and (min-width: 1280px) {
  .page {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1279px) {
  .page {
    padding-right: 72px;
    padding-left: 72px;
  }
}

@media screen and (max-width: 1023px) {
  .page {

  }
}

@media screen and (max-width: 767px) {
  .page {
    padding: 28px 0 36px;
  }
}

@media screen and (max-width: 425px) {
  .page {

  }
}


.header {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 31.6px;
    padding-left: 27px;
  }
}

.logo {

}

@media screen and (max-width: 767px) {
  .logo {
    width: 32.65%;
  }
}

.content {
}
.profile {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile {
    width: calc(100% - 19px * 2);
    padding: 42px 19px 36px;
    padding-top: 42px;
    display: flex;
    flex-direction: column;
/*    justify-content: center;  */
    align-items: center;
  }
}

.avatar {
  margin: 0;
}

.avatar__ellipse {
  width: 120px;
  height: 120px;
}

.avatar__image {
  width: 100%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0 0;
}

.profile__info {
  margin-left: 30px;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: end;
  column-gap: 18px;
  row-gap: 16px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin-top: 26px;
    margin-bottom: 36px;
    margin-left: 0;
    text-align: center;
    column-gap: 10px;
    row-gap: 14px;
  }
}

.edit-button {
  width: 24px;
  height: 24px;
}
.profile__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  font-style: normal;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .profile__subtitle {
    font-size: 14px;
  }
}

.profile__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 42px;
  line-height: 1.14;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .profile__title {
    font-size: 27px;
    line-height: 1.22;
  }
}

.add-button {
  margin-left: auto;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .add-button {
    margin-left: 0;
  }
}

.add-button-vector {
}
.rectangle {
}
.elements {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 1023px) {
  .elements {
    grid-template-columns: repeat(2, minmax(303px, 1fr));
    column-gap: 18px;
  }
}

@media screen and (max-width: 767px) {
  .elements {
    width: calc(100% - 19px * 2);
    padding-right: 19px;
    padding-left: 19px;
    grid-template-columns: minmax(282px, 1fr);
  }
}

.element {
  padding-bottom: 31px;
  display: grid;
  grid-template-rows: 1fr min-content;
  gap: 25px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
}

.element-image {
  max-width: 100%;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 10px 10px 0 0;
}

.list-smth {
  max-width: 100%;
  margin: 0 15px 0 21px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.element-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  font-style: normal;
  color: #000;
}

.element-group {
  width: 22px;
  height: 19px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.footer {
  width: 100%;
  padding-top: 66px;
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 19px * 2);
    padding-top: 48px;
    padding-right: 19px;
    padding-left: 19px;
  }
}

.footer__copyright {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
  }
}
