.place__heart {
  min-width: 22px;
  height: 19px;
  background: transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  transition: opacity 2s ease-out;
  color: #000;
}

.place__heart:hover {
  opacity: .5;
}
